@charset "ISO-8859-1";

html {
  scroll-behavior: smooth!important;
}
a{
  text-decoration: none !important;
  cursor: pointer !important;
} 

@media (max-width: 900px) {
  .menu-icon {
    display: none !important;
  }
}

.support{
  position: absolute !important;
  bottom: 0 !important;
  justify-content: center !important;
  align-items: center !important;
  width: 95% !important;
}

.site-text {
  font-family: "Montserrat Alternates", sans-serif !important;
}
.landing-text {
  font-family: "Fredericka the Great", cursive !important;
}

.sub-text {
  font-family: "Black Ops One", cursive;
}

.other-text {
  font-family: "Noto Sans", sans-serif !important;
}